.avatar-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.avatar-image-header {
    border-radius: 50%;
}

.avatar-name {
    font-weight: 700;
}

.tooltip-content {
    background-color: #fff;
    padding: 0.5rem 0.75rem;
    border-radius: 12px;
    font-size: 0.8rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.tooltip-arrow {
    fill: #fff;
}
