@import "tailwindcss";

:root {
  --background-colour: #f5f5f5;
  --font-colour: #000;
  --secondary-font-colour: #da0000;
  --hover-colour: #b30000;
  --hover-font-colour: #fff;
}

html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
}

body {
  background: var(--background-colour);
  color: var(--font-colour);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("/background-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1 0 auto;
  overflow: hidden;
  padding: 0 1rem;
  box-sizing: border-box;
}

/* === home page === */
.homepage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  margin: 5rem auto;
  padding: 1rem;
}

.homepage-welcome {
  font-size: 2.3rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
}

.homepage-logo {
  width: 600px;
  max-width: 90%;
  height: auto;
}

/* === /new-post page === */
.new-posts-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 550px;
  width: 100%;
  gap: 1rem;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 12px;
  height: 100%;
  background-color: var(--background-colour);
}

.new-post-title {
  font-size: 1.4rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
  color: var(--secondary-font-colour);
}

.new-posts-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-select {
  background-color: #e5e5e5;
  text-align: center;
  padding: 0.4rem;
  border-radius: 12px;
  width: 80%;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.input-textarea {
  resize: none;
  width: 100%;
  padding: 0.6rem;
  border-radius: 12px;
  background-color: #e5e5e5;
  color: var(--font-colour);
}

.form-fieldset {
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.rating-group {
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.rating-group label {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("/reelterror-rating.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.5;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.radio-button {
  display: none;
}

.radio-button:checked ~ label,
.radio-button:checked ~ label ~ label {
  opacity: 1;
  transform: scale(1.1);
}

.rating-group label:hover,
.rating-group label:hover ~ label {
  opacity: 1;
  transform: scale(1.1);
}

.form-buttons {
  display: inline-flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

.go-back-button {
  padding: 0.5rem 1.2rem;
}

.go-back-button:hover {
  text-decoration: underline;
}

.submit-button {
  padding: 0.5rem 1.2rem;
  background-color: var(--secondary-font-colour);
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
}

.submit-button:hover {
  background-color: var(--hover-colour);
}

/* === media query /new-post page === */
@media (max-width: 600px) {
  .form-buttons {
    justify-content: center;
    gap: 0.8rem;
  }
}

/* === /posts page === */
.post-wrapper {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
  text-align: right; 
}

.post-title, .user-profile-title {
  text-align: center;
  margin: 1rem 0;
  font-size: 1.8rem;
  font-weight: 700;
}

.create-post {
  display: inline-flex;
  max-width: 900px;
  margin: 0.5rem auto;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0.75rem 1.25rem;
  color: #fff;
  font-weight: 600;
  border-radius: 12px;
  font-size: 0.9rem;
}

.create-post:hover {
  background-color: rgba(0, 0, 0, 1);
}

.post-container {
  display: flex;
  gap: 2rem;
  padding: 1.5rem;
  background-color: var(--background-colour);
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  margin-bottom: 1.5rem;
}

/* === left side: poster + title === */
.post-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  text-align: center;
  flex: 1;
  max-width: 300px;
}

.movie-poster {
  border-radius: 8px;
}

.movie-title {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

/* === right side: user info + content === */
.post-right {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 0.5rem;
  max-width: 500px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.avatar {
  border-radius: 50%;
}

.user-name {
  font-weight: 700;
}

.user-thoughts {
  font-style: italic;
  margin-top: 0.5rem;
  text-align: left;
}

.rating-icons {
  display: inline-flex;
  gap: 0.25rem;
}

.rating-icons img {
  object-fit: contain;
  display: block;
  width: 25px;
  height: auto;
}

/* === media query /posts page */
@media (max-width: 600px) {
  .post-title {
    font-size: 1.5rem;
  }

  .create-post {
    font-size: 0.7rem;
    padding: 0.6rem 1rem;
  }

  .post-container {
    flex-direction: column;
  }
}

/* === /user/[userId] page === */
/* .user-profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
} */

.user-profile {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  align-items: center;
  gap: 1rem;
  background-color: var(--background-colour);
  border-radius: 12px;
  max-width: 550px;
}

.user-profile img {
  border-radius: 50%;
}

.user-bio {
  text-align: center;
}

.my-posts-title {
  text-align: center;
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.signout-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.signout-button {
  background-color: var(--secondary-font-colour);
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin-top: 0.2rem;
  border-radius: 50px;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
}

.signout-button:hover {
  background-color: var(--hover-colour);
}