@import "tailwindcss";

:root {
  --background-colour: #1a1a1a;
  --font-colour: #f5f5f5;
}

html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background-colour);
  color: var(--font-colour);
  font-family: Arial, Helvetica, sans-serif;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1 0 auto;
  overflow: hidden;
}

/* === new posts page === */
.new-posts-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  width: 100%;
  gap: 1rem;
  margin: 3rem auto;
  height: 100%;
  box-sizing: border-box;
}

.new-posts-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-textarea {
  resize: none;
  width: 100%;
  padding: 0.6rem;
  border-radius: 12px;
  background-color: #f5f5f5;
  color: #1a1a1a;
}