.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 2px solid rgba(26, 26, 26, 0.6); */
  padding: 0.5rem 1rem;
  width: 100%;
  background-color: rgba(58, 58, 58, 0.2);
}

.logo-image {
  width: 200px;
  height: auto;
  object-fit: contain;
}

.nav-bar {
  display: flex;
  gap: 1rem;
}

.nav-link {
  text-decoration: none;
  padding: 0.8rem 3rem;
  border: 2px solid transparent;
  border-radius: 50px;
  font-weight: 700;
  text-align: center;
}

.nav-link.active {
  background-image: url("/navbar-background.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
  z-index: 1;
  color: #fff;
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
