.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 100%;
  background-color: rgba(58, 58, 58, 0.2);
}

.logo-image {
  width: 200px;
  height: auto;
  object-fit: contain;
  display: block;
}

.logo-image-small {
  width: 80px;
  height: auto;
  object-fit: contain;
  display: none;
}

.nav-bar {
  display: flex;
  gap: 1rem;
}

.nav-link {
  text-decoration: none;
  padding: 0.8rem 3rem;
  border: 2px solid transparent;
  border-radius: 50px;
  font-weight: 700;
  text-align: center;
}

.nav-link.active {
  background-image: url("/navbar-background.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
  z-index: 1;
  color: #fff;
}

.nav-link:hover, .signin-button:hover, .signup-button:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.auth-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.auth-avatar {
  display: flex;
  align-items: center;
}

.auth-buttons {
  display: flex;
  gap: 1rem;
}

.signin-button, .signup-button {
  cursor: pointer;
  font-weight: 700;
}

/* === media query === */
@media (max-width: 768px) {
  .logo-image {
    display: none;
  }

  .logo-image-small {
    display: block;
  }

  .header-container {
    flex-direction: column;
    align-items: center;
  }

  .nav-link {
    padding: 0.5rem 2rem;
    font-size: 0.85rem;
  }

  .signin-button, .signup-button {
    font-size: 0.85rem;
  }
}