.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.2rem;
    padding: 1rem;
    background-color: rgba(58, 58, 58, 0.2);
}

.footer-text {
    font-size: 0.9rem;
    font-weight: 600;
}

.social-icons {
    display: flex;
    gap: 0.5rem;
}

/* === media query === */
@media (max-width: 400px) {
    .footer-container {
        flex-direction: column;
        gap: 0.4rem;
    }
}